
nav{

padding : 5px;
}
nav ul li{
    list-style-type: none;
    background-color: #C2ECF8;
    display : inline;
    padding : 15px;
    margin : 5px;
    border : 2px solid #576B7A;
    border-radius: 5px;
    border-style:dotted;
    padding : 15px;
    
}
nav ul li a{
    color: #576B7A;
    text-decoration: none;
}
nav ul li:hover{
    background: #85AEBF;
    color: #C2ECF8;
}
header {
    background-image: url("../images/waves.jpg");
    background-size:100%;
    padding : 10px;
}
footer{
    font-family : Verdana;
    margin : 0;
    background-color: #C8EDFF;
}

logo{
    padding-bottom: 5px;
}

h1{
    background-color: #C9EDFF;
    display: inline-block;
    color: #123340;
}
    

#dolphins{
    height: 80%;
    width: 80%;
    column-count: 3;
    column-gap: 50px;
    column-rule-style: dashed;

}
body{
    background-color: rgb(234, 255, 253);
    
}

.required{
    font-weight: bold;  
    color: red;
}
input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}
.form{
    border-style: dashed;
    border-color: black ;
    background-color: white;
}




